$color-pack: false

$font-text: 'Barlow Semi Condensed', sans-serif
$font-title: 'Raleway', sans-serif

$primary:rgba(90, 129, 144, 0.747)
$background: rgb(246, 248, 248)
$darktext: rgb(34, 34, 34)
$lighttext: rgb(255, 255, 255)
$darklink: rgba(90, 129, 144, 0.788)
$lightlink: $lighttext
$darkborder: $darktext
